.planet-slider {
    margin-left:25px;
    margin-right:25px;
    margin-top:25px;
    height: 50px;
    width: 450px;
}
.planet-slider-info {
    margin-top:25px;
    position:absolute;
    margin-left:25px;
    height: 50px;
    width: 500px;
}

.visible-from {
    width: 25%;
    margin-top:17px;
    height: 15px;
    background-color: midnightblue;
}
.visible {
    width: 50%;
    margin-top:17px;
    height: 15px;
    background-color: lightskyblue;
}

.visible-to{
    width: 25%;
    margin-top:17px;
    height: 15px;
    background-color: midnightblue;
}

.time {
    z-index: 30;
    position: relative;
    height:75px;
    margin-top: -25px;
}

.planet .time {
    opacity: 0.3;
    transition: opacity 1s;
}

.planet:hover .time {
    z-index: 20;
    opacity: 1;
}



.planet {
    background-color: brown;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 50px;
    height:50px;
    margin-left: -25px;
    margin-right: -25px;
    border-radius: 100%;
}