@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #222831;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color:white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top:80px;
  position: relative;
  min-height: 80vh;
  padding-bottom: 100px;
}

h1 {
  font-size: 2em;
  font-weight:bold;
  margin-left: 20px;
  padding: 0;
  color: #F2EFEA;
}

h2 {
  font-size: 1.5em;
  font-weight:bold;
  margin-left: 20px;
  padding: 0;
  color: #F2EFEA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
